versions
log/
doc/
test/log
*sqlite3
coverage
coverage.data
test/documents/
db/seeds.rb
db/schema.rb
db/*_structure.sql
db/*.sqlite3
db/*.sqlite3-journal
fed_ex.yml
s3.yml
pkg/
config/*database.yml
db/test_*_schema.rb


app/models.orig/
db/migrate.orig/
packages_updated.test
s.git/
test.unit.orig/
test/unit.orig/
misc/
/*.war
*_errors.txt
*_warnings.txt
*.swp
/config/initializers/session_store.rb
Gemfile.lock

/development_dump_20111207.sql
/enrollments_errors.txt.20111214
/imported_20111201.sql
/shared_database_tables.20111201
/shared_development.*.sql
/shared_development_20111201.*.sql
/subject_differences_*.txt
/subject_in.csv
/subject_in_sorted.csv
/subject_out.csv

test-livebirthdata_011912.csv
test/live_birth_data_update/
icf_master_tracker_011712.csv
test/icf_master_tracker_update/

gem_list.*
merge_sequences_for_steve.sh
