<%# stylesheets('documents') %>

<table id='documents'><tbody>
<%= render :partial => 'document', :collection => @documents %>
</tbody></table><!-- id='documents' -->

<p>
<%= button_link_to 'Create New Document', new_document_path %>
</p>
