
development:
  adapter: mysql
  encoding: utf8
  database: ccls_engine_development
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  encoding: utf8
  database: ccls_engine_test
  username: root
  password: 
  host: localhost

production:
  adapter: mysql
  encoding: utf8
  database: ccls_engine_production
  username: root
  password: 
  host: localhost

