
development:
  adapter: mysql
  encoding: utf8
  database: ccls_engine_development
  username: root
  password: 
  host: localhost

test:
  adapter: mysql
  encoding: utf8
  database: ccls_engine_test
  username: root
  password: 
  host: localhost

production:
  adapter: sqlite3
  pool: 5
  timeout: 5000
  database: db/production.sqlite3

